.auth {
  position: relative;
  width: 100%;
  height: 100vh;

  .block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .block_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
      @extend %text-24;

      font-weight: theme($weights, 'bold');
    }

    p {
      @extend %text-12;

      color: #a1a1aa;
      text-align: center;
      margin-top: 1rem;
      text-wrap: balance;
    }
  }

  .block_form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 35rem;
    margin-top: 2rem;

    input {
      @extend %text-12;

      display: flex;
      align-items: center;
      width: 100%;
      height: 3.2rem;
      padding: 0.25rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid #27272a;
      background-color: transparent;

      &::placeholder {
        color: #a1a1aa;
      }

      &:focus-visible {
        outline: 1px solid #fff;
      }
    }

    button {
      @extend %text-14;

      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 3rem;
      font-weight: theme($weights, 'medium');
      color: #000;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: theme($colors, 'white');
      transition: background-color 0.2s ease;
      pointer-events: all;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: theme($colors, 'white'), $alpha: 0.7);
      }
    }
  }

  .block_text {
    @extend %text-12;

    color: #a1a1aa;
    line-height: 1.4;
    text-align: center;
    padding: 0 2rem;
    margin-top: 2rem;
  }
}
