.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  padding-top: 2rem;
  pointer-events: none;
  z-index: z('navigation');

  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    @extend %text-24;

    font-weight: theme($weights, 'medium');
    line-height: 100%;
    pointer-events: all;
    cursor: pointer;
  }

  small {
    @extend %text-10;

    text-transform: uppercase;
    opacity: 0.5;
  }

  a:last-child {
    @extend %text-10;

    text-transform: uppercase;
    pointer-events: all;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
