.preloader {
  @extend %cover;

  background-color: theme($colors, 'white');
  pointer-events: all;
  z-index: z('preloader');

  .wrapper {
    position: relative;
  }

  .number,
  .text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .number {
    @extend %text-100;

    top: 45%;
  }

  .text {
    top: 55%;
  }
}
